In [ ]:
import pandas as pd
import numpy as np

In [ ]:
lig=pd.read_csv('tcl.csv',delimiter=";")

In [ ]:
lig.head(3)

,year,team,played,won,drawn,lost,goals_for,goals_against,goal_difference,points
0,1959,Fenerbahce,16,13,2,1,33,8,25,28
1,1960,Besiktas,38,29,7,2,68,15,53,65
2,1961,Fenerbahce,38,26,9,3,81,29,52,61

In [ ]:
lig.columns=["yil","takim","oyun","galibiyet","beraberlik","maglubiyet","atilan_gol","yenilen_gol","averaj","puan"]

In [ ]:
lig.head(3)

,yil,takim,oyun,galibiyet,beraberlik,maglubiyet,atilan_gol,yenilen_gol,averaj,puan
0,1959,Fenerbahce,16,13,2,1,33,8,25,28
1,1960,Besiktas,38,29,7,2,68,15,53,65
2,1961,Fenerbahce,38,26,9,3,81,29,52,61

In [ ]:
# Glibiyetin 2 puan olduğu yılları normalleştirmek için tekrar puan hesaplaması yapalım.
lig['puan_düzeltilmis']=(lig['galibiyet']*3)+(lig['beraberlik']*1)

In [ ]:
lig.head(5)

,yil,takim,oyun,galibiyet,beraberlik,maglubiyet,atilan_gol,yenilen_gol,averaj,puan,puan_düzeltilmis
0,1959,Fenerbahce,16,13,2,1,33,8,25,28,41
1,1960,Besiktas,38,29,7,2,68,15,53,65,94
2,1961,Fenerbahce,38,26,9,3,81,29,52,61,87
3,1962,Galatasaray,38,23,11,4,52,18,34,57,80
4,1963,Galatasaray,22,14,7,1,54,14,40,35,49

In [ ]:
lig[lig['puan']==lig['puan_düzeltilmis']].iloc[[0]] #ödev çözümü bitti

,yil,takim,oyun,galibiyet,beraberlik,maglubiyet,atilan_gol,yenilen_gol,averaj,puan,puan_düzeltilmis
29,1988,Galatasaray,38,27,9,2,86,35,51,90,90

In [ ]:
sampiyon=pd.DataFrame(lig['takim'].value_counts())

In [ ]:
sampiyon

             takim
Galatasaray     21
Fenerbahce      19
Besiktas        13
Trabzonspor      6
Bursaspor        1

In [ ]:
#excel cıktı
sampiyon.to_excel("sampiyon.xlsx")

In [ ]:
# kaç farklı takım şampiyon olmuş 
lig['takim'].unique()
len(lig['takim'].unique())

5

In [ ]:
lig.head(3)

,yil,takim,oyun,galibiyet,beraberlik,maglubiyet,atilan_gol,yenilen_gol,averaj,puan,puan_düzeltilmis
0,1959,Fenerbahce,16,13,2,1,33,8,25,28,41
1,1960,Besiktas,38,29,7,2,68,15,53,65,94
2,1961,Fenerbahce,38,26,9,3,81,29,52,61,87

In [ ]:
lig.groupby(by=['takim','yil']).sum()

                  oyun  galibiyet  beraberlik  maglubiyet  atilan_gol  \
takim       yil
Besiktas    1960    38         29           7           2          68
            1966    30         20           8           2          52
            1967    32         16          13           3          44
            1982    32         14          16           2          38
            1986    36         22          12           2          65
            1990    34         23           6           5          77
            1991    30         20           9           1          63
            1992    30         23           7           0          58
            1995    34         24           7           3          80
            2003    34         26           7           1          63
            2009    34         21           8           5          60
            2016    34         25           4           5          75
            2017    34         23           8           3          73
Bursaspor   2010    34         23           6           5          65
Fenerbahce  1959    16         13           2           1          33
            1961    38         26           9           3          81
            1964    34         21          11           2          55
            1965    30         18          11           1          52
            1968    32         19          11           2          38
            1970    30         17          10           3          31
            1974    30         15          13           2          39
            1975    30         15          13           2          43
            1978    30         17           8           5          48
            1983    34         18          13           3          43
            1985    34         18          14           2          65
            1989    36         29           6           1         103
            1996    34         26           6           2          68
            2001    34         24           4           6          82
            2004    34         23           7           4          82
            2005    34         26           2           6          77
            2007    34         20          10           4          65
            2011    34         26           4           4          84
            2014    34         23           5           6          74
Galatasaray 1962    38         23          11           4          52
            1963    22         14           7           1          54
            1969    30         19           8           3          49
            1971    30         17           8           5          51
            1972    30         17           8           5          34
            1973    30         19           9           2          47
            1987    36         23           8           5          55
            1988    38         27           9           2          86
            1993    30         20           6           4          74
            1994    30         22           4           4          67
            1997    34         25           7           2          90
            1998    34         23           6           5          86
            1999    34         23           9           2          85
            2000    34         24           7           3          77
            2002    34         24           6           4          75
            2006    34         26           5           3          82
            2008    34         24           7           3          64
            2012    34         23           8           3          69
            2013    34         21           8           5          66
            2015    34         24           5           5          60
            2018    34         24           3           7          75
Trabzonspor 1976    30         17           9           4          36
            1977    30         18           7           5          41
            1979    30         13          16           1          34
            1980    30         12          15           3          25
            1981    30         16           7           7          41
            1984    34         18          14           2          43

                  yenilen_gol  averaj  puan  puan_düzeltilmis
takim       yil
Besiktas    1960           15      53    65                94
            1966           16      36    48                68
            1967           15      29    45                61
            1982           17      21    44                58
            1986           21      44    56                78
            1990           20      57    75                75
            1991           24      39    69                69
            1992           20      38    76                76
            1995           26      54    79                79
            2003           21      42    85                85
            2009           30      30    71                71
            2016           35      40    79                79
            2017           30      43    77                77
Bursaspor   2010           26      39    75                75
Fenerbahce  1959            8      25    28                41
            1961           29      52    61                87
            1964           14      41    53                74
            1965           13      39    47                65
            1968           12      26    49                68
            1970            6      25    44                61
            1974           15      24    43                58
            1975           18      25    43                58
            1978           24      24    42                59
            1983           20      23    49                67
            1985           25      40    50                68
            1989           27      76    93                93
            1996           19      49    84                84
            2001           39      43    76                76
            2004           41      41    76                76
            2005           24      53    80                80
            2007           31      34    70                70
            2011           34      50    82                82
            2014           33      41    74                74
Galatasaray 1962           18      34    57                80
            1963           14      40    35                49
            1969           14      35    46                65
            1971           18      33    42                59
            1972           14      20    42                59
            1973           12      35    47                66
            1987           24      31    54                77
            1988           35      51    90                90
            1993           21      53    66                66
            1994           28      39    70                70
            1997           30      60    82                82
            1998           43      43    75                75
            1999           30      55    78                78
            2000           23      54    79                79
            2002           31      44    78                78
            2006           34      48    83                83
            2008           23      41    79                79
            2012           24      45    77                77
            2013           35      31    71                71
            2015           35      25    77                77
            2018           33      42    75                75
Trabzonspor 1976           14      22    43                60
            1977           12      29    43                61
            1979            7      27    42                55
            1980           11      14    39                51
            1981           21      20    39                55
            1984           14      29    50                68

In [ ]:
# en yüksek paunla şampiyon olan takım
maxpuan=lig['puan_düzeltilmis'].max()
lig[lig['puan_düzeltilmis']==maxpuan]

,yil,takim,oyun,galibiyet,beraberlik,maglubiyet,atilan_gol,yenilen_gol,averaj,puan,puan_düzeltilmis
1,1960,Besiktas,38,29,7,2,68,15,53,65,94

In [ ]:
# en düşük puanla şampiyon takım
minpuan=lig['puan_düzeltilmis'].min()
lig[lig['puan_düzeltilmis']==minpuan]

,yil,takim,oyun,galibiyet,beraberlik,maglubiyet,atilan_gol,yenilen_gol,averaj,puan,puan_düzeltilmis
0,1959,Fenerbahce,16,13,2,1,33,8,25,28,41

In [ ]:
# en yüksek paun oratlaması ile şampiyon olan takım
lig['ort_puan']=lig['puan_düzeltilmis']/lig['oyun']

maxortpuan=lig['ort_puan'].max()
lig[lig['ort_puan']==maxortpuan]

,yil,takim,oyun,galibiyet,beraberlik,maglubiyet,atilan_gol,yenilen_gol,averaj,puan,puan_düzeltilmis,ort_puan
30,1989,Fenerbahce,36,29,6,1,103,27,76,93,93,2.583333

In [ ]:
# en az paun ortalaması ile şampiyon olan takım
minortpuan=lig['ort_puan'].min()
lig[lig['ort_puan']==minortpuan]

,yil,takim,oyun,galibiyet,beraberlik,maglubiyet,atilan_gol,yenilen_gol,averaj,puan,puan_düzeltilmis,ort_puan
21,1980,Trabzonspor,30,12,15,3,25,11,14,39,51,1.7

In [ ]:
# Şampiyon Olan Takımlar Maç Başı Ortalama Gol Sayıları
lig['ort_gol']=lig['atilan_gol']/lig['oyun']

In [ ]:
lig.head(3)

,yil,takim,oyun,galibiyet,beraberlik,maglubiyet,atilan_gol,yenilen_gol,averaj,puan,puan_düzeltilmis,ort_puan,ort_gol
0,1959,Fenerbahce,16,13,2,1,33,8,25,28,41,2.562500,2.062500
1,1960,Besiktas,38,29,7,2,68,15,53,65,94,2.473684,1.789474
2,1961,Fenerbahce,38,26,9,3,81,29,52,61,87,2.289474,2.131579

In [ ]:
#süperlig tarihinin şampiyonlarının maç başına ortalama puanları
lig['ort_puan'].mean()

2.187392790781916

In [ ]:
lig['ort_gol'].mean()

1.868372612867582

In [ ]:
# trump örneği ile devam ediyoruz.
trump=pd.read_csv('trump.csv')

In [ ]:
trump.head(3)

,Unnamed: 0,date,target,insult,tweet
0,1,2014-10-09,thomas-frieden,fool,"Can you believe this fool, Dr. Thomas Frieden ..."
1,2,2014-10-09,thomas-frieden,DOPE,"Can you believe this fool, Dr. Thomas Frieden ..."
2,3,2015-06-16,politicians,all talk and no action,Big time in U.S. today - MAKE AMERICA GREAT AG...

In [ ]:
trump=trump.drop("Unnamed: 0",axis=1)

In [ ]:
trump.head(3)

,date,target,insult,tweet
0,2014-10-09,thomas-frieden,fool,"Can you believe this fool, Dr. Thomas Frieden ..."
1,2014-10-09,thomas-frieden,DOPE,"Can you believe this fool, Dr. Thomas Frieden ..."
2,2015-06-16,politicians,all talk and no action,Big time in U.S. today - MAKE AMERICA GREAT AG...

In [ ]:
trump.info() #date burada datetime formatında değil bunu değiştireceğiz.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10360 entries, 0 to 10359
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    10360 non-null  object
 1   target  10358 non-null  object
 2   insult  10360 non-null  object
 3   tweet   10360 non-null  object
dtypes: object(4)
memory usage: 323.9+ KB

In [ ]:
trump['date']=pd.to_datetime(trump['date'])

In [ ]:
trump.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10360 entries, 0 to 10359
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    10360 non-null  datetime64[ns]
 1   target  10358 non-null  object
 2   insult  10360 non-null  object
 3   tweet   10360 non-null  object
dtypes: datetime64[ns](1), object(3)
memory usage: 323.9+ KB

In [ ]:
trump.head(3)

,date,target,insult,tweet
0,2014-10-09,thomas-frieden,fool,"Can you believe this fool, Dr. Thomas Frieden ..."
1,2014-10-09,thomas-frieden,DOPE,"Can you believe this fool, Dr. Thomas Frieden ..."
2,2015-06-16,politicians,all talk and no action,Big time in U.S. today - MAKE AMERICA GREAT AG...

In [ ]:
trump=trump.set_index("date")

In [ ]:
trump

,target,insult,tweet
date,,,
2014-10-09,thomas-frieden,fool,"Can you believe this fool, Dr. Thomas Frieden ..."
2014-10-09,thomas-frieden,DOPE,"Can you believe this fool, Dr. Thomas Frieden ..."
2015-06-16,politicians,all talk and no action,Big time in U.S. today - MAKE AMERICA GREAT AG...
2015-06-24,ben-cardin,It's politicians like Cardin that have destroy...,Politician @SenatorCardin didn't like that I s...
2015-06-24,neil-young,total hypocrite,"For the nonbeliever, here is a photo of @Neily..."
...,...,...,...
2021-01-06,2020-election,Many States want to decertify the mistake they...,If Vice President @Mike_Pence comes through fo...
2021-01-06,2020-election,"based on irregularities and fraud, plus corrup...","States want to correct their votes, which they..."
2021-01-06,2020-election,Our Election Process is worse than that of thi...,"They just happened to find 50,000 ballots late..."
2021-01-06,2020-election,a FRAUD,The States want to redo their votes. They foun...
2021-01-06,chuck-todd,"Sleepy Eyes, Sad to watch!",Sleepy Eyes Chuck Todd is so happy with the fa...

In [ ]:
#analiz yapabilmek için harfleri küçük yapıyoruz
trump['tweet']=trump['tweet'].str.lower()

In [ ]:
trump.head(3)

,target,insult,tweet
date,,,
2014-10-09,thomas-frieden,fool,"can you believe this fool, dr. thomas frieden ..."
2014-10-09,thomas-frieden,DOPE,"can you believe this fool, dr. thomas frieden ..."
2015-06-16,politicians,all talk and no action,big time in u.s. today - make america great ag...

In [ ]:
trump[trump['tweet'].str.contains("turkey")]

,target,insult,tweet
date,,,
2017-11-24,middle-east-relations,the mess that I inherited,will be speaking to president recep tayyip erd...
2017-11-24,middle-east-relations,"what a mistake, in lives and dollars (6 trilli...",will be speaking to president recep tayyip erd...
2018-07-19,turkey,A total disgrace,a total disgrace that turkey will not release ...
2018-08-16,turkey,has taken advantage of the United States for m...,turkey has taken advantage of the united state...
2019-10-09,endless-wars,stupid,fighting between various groups that has been ...

In [ ]:
trump=trump.dropna() #non yapıları dışarı atıyor

In [ ]:
all=" ".join(trump['tweet'])

In [ ]:
all_list=all.split(" ")

In [ ]:
etiketler=[]
for kelime in all_list:
  if len(kelime)>0:
    if kelime[0]=="@":
      etiketler.append(kelime)

In [ ]:
#ödevvvvvvvvvvvvvv
#etiket_tweet("@hasancagrigungor")
#ilgili tweetler df olarak gelecek
#şuana kadar etiketlediği ve o etikete kaç tweet atılmışsa df olacak
#ulke_tweet("Turkey") denilince o ülke adına kaç tweet atılmış
#11.09.2022 tarihli derse geçtik

In [ ]:
#şuana kadar etiketlediği ve o etikete kaç tweet atılmışsa df olacak
sozluk={}
for etiket in etiketler:
  sozluk[etiket]=etiketler.count(etiket)

In [ ]:
tagdf=pd.DataFrame()

In [ ]:
tagdf['tag']=sozluk.keys()
tagdf['adet']=sozluk.values()

In [ ]:
tagdf.head(10)

              tag  adet
0  @senatorcardin     1
1      @neilyoung     1
2        @foxnews   278
3   @alwaleedbint     1
4         @macys.     1
5          @macys    10
6    @ericbolling     1
7    @krauthammer     5
8       @clare_oc     7
9         @forbes     7

In [ ]:
#etiketleme sayısına göre sıralamak istiyoruz
tagdf.sort_values(by='adet',ascending=False)
#ascending küçükten büyüğe demek ASC
#descending büyükte küçüğe DESC

                tag  adet
35         @nytimes   287
2          @foxnews   278
22             @cnn   270
147  @foxandfriends   116
168       @nytimes,    68
..              ...   ...
261  @kennedynation     1
273     @abeshinzo.     1
274  @marcthiessen.     1
281  @repadamschiff     1
466     @mike_pence     1

[467 rows x 2 columns]

In [ ]:
pd.read_csv('avocado.csv')

,date,average_price,total_volume,4046,4225,4770,total_bags,small_bags,large_bags,xlarge_bags,type,year,geography
0,2015-01-04,1.22,40873.28,2819.50,28287.42,49.90,9716.46,9186.93,529.53,0.00,conventional,2015,Albany
1,2015-01-04,1.79,1373.95,57.42,153.88,0.00,1162.65,1162.65,0.00,0.00,organic,2015,Albany
2,2015-01-04,1.00,435021.49,364302.39,23821.16,82.15,46815.79,16707.15,30108.64,0.00,conventional,2015,Atlanta
3,2015-01-04,1.76,3846.69,1500.15,938.35,0.00,1408.19,1071.35,336.84,0.00,organic,2015,Atlanta
4,2015-01-04,1.08,788025.06,53987.31,552906.04,39995.03,141136.68,137146.07,3990.61,0.00,conventional,2015,Baltimore/Washington
...,...,...,...,...,...,...,...,...,...,...,...,...,...
33040,2020-11-29,1.47,1583056.27,67544.48,97996.46,2617.17,1414878.10,906711.52,480191.83,27974.75,organic,2020,Total U.S.
33041,2020-11-29,0.91,5811114.22,1352877.53,589061.83,19741.90,3790665.29,2197611.02,1531530.14,61524.13,conventional,2020,West
33042,2020-11-29,1.48,289961.27,13273.75,19341.09,636.51,256709.92,122606.21,134103.71,0.00,organic,2020,West
33043,2020-11-29,0.67,822818.75,234688.01,80205.15,10543.63,497381.96,285764.11,210808.02,809.83,conventional,2020,West Tex/New Mexico
33044,2020-11-29,1.35,24106.58,1236.96,617.80,1564.98,20686.84,17824.52,2862.32,0.00,organic,2020,West Tex/New Mexico

In [ ]:
import matplotlib.pyplot as plt